/* src/styles/styles.css */
body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: navajowhite;
    color: white;
  }
      
  .navbar-title h1 {
    margin: 0;
    font-size: 24px;
    color: black;
  }
      
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    display: inline-block;
  }
  
  .navbar-links a {
    color: black;
    text-decoration: none;
  }
  
  .cart-icon {
    margin-right: 5px;
  }
  
  .homepage {
    padding: 20px;
    background: linear-gradient(to right, #81CAD6, #6c757d);
    color: black;
  }
 
  .product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    transition: transform 0.3s ease;
  }
  
  .product-card img {
    width: 100px;
    height: 100px;
  }
  
  .product-page img {
    width: 200px;
    height: 200px;
  }
  .product-card a {
    color: #007bff;
    text-decoration: none;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }

  .cart-page {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: white;    
  }
  .cart-page ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-page li {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .cart-page img {
    width: 50px;
    height: 50px;
  }
  
  .product-page {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: white;    
  }

  .product-page img {
    width: 200px;
    height: 200px;
  }

  .product-page h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .product-page p {
    font-size: 1rem;
    color: black;
  }

  .product-page button {
    padding: 8px 16px;
  border: none;
  background-color: #ff7f50;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  }

  .product-page button:hover {
    background-color: #ff4500;
  }